/* -------------------------------
Style pour les balises
-------------------------------- */
body {
	font-family: Calibri, sans-serif;
	font-size: 1.2rem;
	line-height: 1.8rem;
	text-align: justify;
	color: #dbdbdb;
	text-shadow: #000 1px 1px 1px;
}

h1 {
	font-size: 4rem;
	padding: 25px 0;
}

h2 {
	font-size: 1.9rem;
}

a {
	text-decoration: none;
	color: #dbdbdb;
	text-shadow: none;
}
a:hover, a.active {
	color: #c98a52;
	transition: .6s;
	text-shadow: 1px 2px 4px #fff;
}



/* -------------------------------
Les classes
--------------------------------- */

.b {
	/* border: 1px solid #000; */
}

.txt-color {
	color: #c98a52;
	font-weight: bold;
}

.top-title {
	font-size: 1.6rem;
}

.sub-title {
	font-size: 1.8rem;
}


